footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin: auto;
}

nav {
    width: 100vw;
}

.main {
    margin-bottom: 25px;
}

.headshot {
    max-width: 150px;
    height: auto;
}

.img-responsive {
    height: 100px;
    width: 100px;
}